.filled{
    background-color: red;
    border-style:none;
    
}

table{
    border: 2px solid black;
    table-layout: fixed;
    /* width: 200px; */
}

td {
    height: 20px;
    width: 20px;
}

#table td {
    border: 1px solid black;
}

/* table tr:nth-child(1),
table tr:nth-child(2){
    display: none;
}  */